<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="BTDeviceId" value="\\?\SWD#RADIO#Bluetooth_4401bbaae2e7#{a8804298-2d5f-42e3-9531-9c8c39eb29ce}" />
	</appSettings>
</configuration>